@charset "utf-8";
/* CSS Document */

/* Layout */

@font-face {
    font-family: 'walsheim';
    src: url('font/GT_Walsheim/gt-walsheim-web.eot');
    src: url('font/GT_Walsheim/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('font/GT_Walsheim/gt-walsheim-web.woff') format('woff'),
         url('font/GT_Walsheim/gt-walsheim-web.ttf') format('truetype'),
         url('font/GT_Walsheim/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'walsheim';
    src: url('font/GT_Walsheim/gt-walsheim-bold-web.eot');
    src: url('font/GT_Walsheim/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
         url('font/GT_Walsheim/gt-walsheim-bold-web.woff') format('woff'),
         url('font/GT_Walsheim/gt-walsheim-bold-web.ttf') format('truetype'),
         url('font/GT_Walsheim/gt-walsheim-bold-web.svg#gt_walsheim_regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'walsheim';
    src: url('font/GT_Walsheim/gt-walsheim-light-web.eot');
    src: url('font/GT_Walsheim/gt-walsheim-light-web.eot?#iefix') format('embedded-opentype'),
         url('font/GT_Walsheim/gt-walsheim-light-web.ttf') format('truetype'),
         url('font/GT_Walsheim/gt-walsheim-light-web.svg#gt_walsheim_regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	margin: 0;
	background-color: #fefdfb;
	font-size: 1em;
	line-height: 1.5625;
  font-family: "walsheim", Helvetica, sans-serif;
  font-weight: normal;
	color: #292e36;
}

ul, p {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wrap{
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.388888%
}

.col {
	box-sizing: border-box;
	padding: 0 1.388888%;
}

.col-1 {
	width: 7.142857%;
}

.col-2 {
	width: 14.285714%;
}

.col-3 {
	width: 21.428571%;
}

.col-4 {
	width: 28.571428%;
}

.col-5 {
	width: 35.714285%;
}

.col-6 {
	width: 42.8571%;
}

.col-7 {
	width: 50%;
}

.col-8 {
	width: 57.142857%;
}

.col-9 {
	width: 64.2857%;
}

.col-10 {
	width: 71.42857%;
}

.col-11 {
	width: 78.571427%;
}

.col-12 {
	width: 85.7142857%;
}

.col-14 {
	width: 100%;
}

.off-1 {
	margin-left: 7.142857%;
}

.off-2 {
	margin-left: 14.285714%;
}

.off-3 {
	margin-left: 21.42857%;
}

/* Nav */

nav {
	position: absolute;
	width: 100%;
  box-sizing: border-box;
  padding: 0 1.388888%;
  top: 0;
  font-size: 1.25rem;
}

#top-nav {
	position: relative;
	height: 50px;
	z-index: 2500;
}

#top-nav ul {
	display: inline-block;
}

#top-nav li {
	position: relative;
	float: left;
  margin: 30px .5% 0 0;
  width: 16.66666%;
}

nav svg {
	position: absolute;
	top: -25%;
  left: 5%;
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
	transition: .3s opacity 1s ease-out;
}

.link-close #top-nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 0 20px 0 0;
	height: 30px;
	animation: .6s reverse textShift;  
}

#top-nav a {
	text-decoration: none;
	color: #ffffff;
	position: relative;
}

#top-nav a:hover {
	color: #FF0;
}

#top-nav a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: .4em;
  transform: translate(-50%, -57%);
  top: 50%;
  left: 50%;
  z-index: -2;
  transition: width .3s ease-out;
  background-color: #000;
}

#top-nav a:hover::after {
	width: 100%;
	padding: 0 .6em;
}

*::-moz-selection {
	color: #ff0;
	background: #1D2126;
}
*::selection { 
	color: #ff0;
	background: #1D2126;
}

/* Project menu */

body.menu-open {
	overflow: hidden;
}
 
.menu-open #top-nav a:hover {
	color: #FF0;
} 

#menu-contain {
	height: 0;
	overflow: hidden;
	background-color: #1D2126;
	width: 100%;
	position: fixed;
	top: 0;
	opacity: 0;
	left: 0;
	color: #fff;
	z-index: 2000;
	font-weight: 600;
}

#menu-contain > div {
	/*position: absolute;*/
	height: 100%;
}

#project-wrap ul {
	font-size: 10vh;
	line-height: 16vh; 
	visibility: hidden;
	position: absolute;
	top: 50%;
	width: 57.142857%;
	margin-left: 21.42857%;
}

#contact-wrap a {
	opacity: 0;
  display: inline-block;
	font-size: 6.4vw;
	line-height: 7vw; 
  top: 50%;
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  color: #fff;
}

#contact-wrap a:vistied {
	color: #fff;
}

#contact-wrap a:hover {
	color: #FF0;
}

#project-wrap.proj-wrap-open ul {
	transform: translateY(-50%);
	opacity: 1;
	animation: 0.8s slideDown ease-out;
	visibility: visible;
}

#contact-wrap.con-wrap-open a {
	transform: translateY(-50%);
	opacity: 1;
	animation: 0.8s slideDownSml ease-out;
	visibility: visible;
}

#project-wrap.proj-wrap-close ul {
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	animation: 0.4s slideUp ease-in;
}

#contact-wrap.con-wrap-close a {
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	animation: 0.4s slideUpSml ease-in;
}

#menu-contain a::after {
	content: '';
	position: absolute;
	display: block;
	width: 0%;
	height: .24em;
	transform: translate(-50%, -30%);
	top: 50%;
	left: 50%;
	z-index: -10;
	transition: width .3s ease-out;
}

#menu-contain .current a::after {
	width: 100%;
	padding: 0 .24em;
	background-color: currentColor;
}

#menu-contain a:hover::after {
	width: 100%;
	padding: 0 .24em;
	background-color: #000;
}


#menu-contain li {
	margin-left: -0.06em;
}

.nav-link a {
	color: #fff;
	position: relative;
	text-decoration: none;
}

.active-nav a:hover {
	color: #FF0;
}

.link-open a {
	opacity: 0;
}

.link-open svg {
  width: 100%;
  height: 160%;
  z-index: 3000;
  position: absolute;
  fill: #fff;
  top: -25%;
  left: 5%;
  display: block;
	opacity: 1;
	transition: .3s opacity;
}

.link-open svg:hover {
	fill: #FF0;
	cursor: pointer;
}


/* Animation */

.menu-open #menu-contain {
	height: 100%;
	opacity: 1;
	animation: .3s ease-out open;
}

.menu-close #menu-contain {
	animation: .8s ease-out close;
	height: 0;
	opacity: 0;
	
}

@keyframes open {
	from {
		height: 0;
	}
	1% {
		height: 100%;
		opacity: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

@keyframes close {
	0% {
		opacity: 1;
		height: 100%;
	}
	50% {
		opacity: 1;
		height: 100%;
	}
	99% {
		opacity: 0;
		height: 100%;
	}
	100% {
		height: 0;
	}
}

@keyframes slideDown {
	0%{
		transform: translateY(-55%);
		opacity: 0;
		visibility: hidden;
	}
	50%{
		transform: translateY(-55%);
		opacity: 0;
	}
	to {
		transform: translateY(-50%);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes slideUp {
	from{
		transform: translateY(-50%);
		opacity: 1;
		visibility: visible;
	}
	to {
		transform: translateY(-55%);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes slideDownSml {
	0%{
		transform: translateY(-80%);
		opacity: 0;
		visibility: hidden;
	}
	50%{
		transform: translateY(-80%);
		opacity: 0;
	}
	to {
		transform: translateY(-50%);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes slideUpSml {
	from{
		transform: translateY(-50%);
		opacity: 1;
		visibility: visible;
	}
	to {
		transform: translateY(-80%);
		opacity: 0;
		visibility: hidden;
	}
}

/* Footer */

footer {
	width: 100%;
	background-color: #1D2126;
	position: absolute;
	z-index: -10;
	font-size: 1rem;
	padding: 4rem 0 4rem 0;
	line-height: 2.2222222rem;
}

footer ul {
	float: left;
	margin-top: 0.6rem;
}


.main-foot {
	font-size: 1.563rem;
	margin-top: 0;
	font-weight: bold;
	line-height: 2.962962rem;
	float: left;
}

.main-foot li {
	display: block;
}

footer a {
	position: relative;
	transition: opacity 0.2s;
	z-index: 2000;
	color: #ffffff;
	float: left;
	clear: left;
	text-decoration: none;
}

.main-foot span {
	position: absolute;
	width: 120%;
	height: .2em;
	transition: all .2s;
	background-color: currentColor;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.hov-bg {
	opacity: 0;
  position: absolute;
	width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all .3s;
	background-size: auto 102%, auto 102%;
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top right;
 }

.cod-bg-hov {
 	background-size: auto 72%, auto 72%;
 }

.hov-on {
	opacity: 0.1;
}

.main-foot a:hover {
	color: #fff;
}

.main-foot a:hover span {
	opacity: 0;
}

#apollo-hov:hover~.apollo-bg-hov {
	opacity: 1;
	background-size: auto 100%,auto 100%;
}

#drive-hov:hover~.drive-bg-hov {
	opacity: 1;
	background-size: auto 100%,auto 100%;
}

#david-hov:hover~.david-bg-hov {
	opacity: 1;
	background-size: auto 100%,auto 100%;
}

#cod-hov:hover~.cod-bg-hov {
	opacity: 1;
	background-size: auto 70%,auto 70%;
 	background-position: 0% 100%, 100% 100%;
}


.apollo-bg-hov {
	background-image: url(images/footer/apollo-2400-left.png), url(images/footer/apollo-2400-right.png);
	background-color: #1c1b1d;
}

.drive-bg-hov {
	background-image: url(images/footer/drive-2400-left.png), url(images/footer/drive-2400-right.png);
	background-color: #4e4d8b;
}

.david-bg-hov {
	background-image: url(images/footer/stars-2400-left.png), url(images/footer/stars-2400-right.png);
	background-color: #000000;
}

.cod-bg-hov {
	background-position: bottom left, bottom right;
	background-image: url(images/footer/cod-2400-left.png), url(images/footer/cod-2400-right.png);
	background-color: #00b3e6;
}

@media (max-width: 1000px){
	#top-nav li {
		position: relative;
		float: left;
	  margin: 30px .5% 0 0;
	  width: 25%;
	}
	#project-wrap ul {
		width: 85.7142857%;
		margin-left: 7.142857%;
	}
}
@media (max-width: 900px){
	.cod-bg-hov {
 		background-size: auto 52%, auto 52%;
  }
  .apollo-bg-hov {
		background-size: auto 52%, auto 102%;
		background-position: 0% 1%, 71% 100%;
  }
  .david-bg-hov {
		background-size: auto 98%,auto 98%;
		background-position: 0% 1%, 51% 100%;
  }
  .drive-bg-hov {
		background-size: auto 100%, auto 100%;
		background-position: 0% 0%, 70% 100%;
  }
	#apollo-hov:hover~.apollo-bg-hov {
		background-size: auto 50%, auto 100%;
		background-position: 0% 0%, 70% 100%;
	}
	#drive-hov:hover~.drive-bg-hov {
		background-size: auto 50%, auto 50%;
		background-position: 10% 0%, 70% 100%;
	}
	#david-hov:hover~.david-bg-hov {
		background-size: auto 100%,auto 100%;
		background-position: 0% 0%, 50% 100%;
	}
	#cod-hov:hover~.cod-bg-hov {
		background-size: auto 50%,auto 50%;
	}
}
@media (max-width: 680px){
	#top-nav li {
		position: relative;
		float: left;
	  margin: 30px 0 0 0;
	  width: 33.3%;
	  font-size: 1rem;
	}
	.link-open svg {
	  width: 100%;
	  height: 180%;
	  top: -25%;
	  left: 5%;
	}
	#project-wrap ul {
		font-size: 14vw;
    line-height: 28vw;
	}
	footer {
		padding: 6rem 0 1rem 0;
		margin: 0;
	}
	footer .wrap > * {
		float: left;
		margin-left: 7.142857%;
		width: 85.7142857%;
	}
	.main-foot {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.cod-bg-hov {
 		background-size: auto 32%, auto 32%;
	}
	#cod-hov:hover~.cod-bg-hov {
		background-size: auto 30%, auto 30%;
	}
}