@charset "utf-8";
/* CSS Document */

/* Layout */

html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 22.5px;
}

body {
	margin: 0;
	background-color: #fefdfb;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wrap{
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.388888%
}

.col {
	box-sizing: border-box;
	padding: 0 1.388888%;
}

.col-1 {
	width: 7.142857%;
}

.col-2 {
	width: 14.285714%;
}

.col-5 {
	width: 35.714285%;
}

.col-7 {
	width: 50%;
}

.col-8 {
	width: 57.142857%;
}

.col-10 {
	width: 71.42857%;
}

.col-11 {
	width: 78.571427%;
}

.col-12 {
	width: 85.7142857%;
}

.col-14 {
	width: 100%;
}

.off-1 {
	margin-left: 7.142857%;
}

.off-3 {
	margin-left: 21.42857%;
}


/* Typography */

body {
	font-size: 1em;
	line-height: 1.555555;
  font-family: "aktiv-grotesk", Helvetica, sans-serif;
  font-weight: 300;
	color: #292e36;
}

h1 {
	font-size: 5.96rem;
	line-height: 1.118568;
	margin: 0;
	margin-bottom: .28em;

}

h3 {
	font-size: 1.563rem;
	line-height: 1.066666;
	margin: 0;
	margin-bottom: 1.2rem;
}

p {
	margin-top: 0;
	margin-bottom: 1.2rem;
}

.lead {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 200;
	font-size: 1.563rem;
	line-height: 2.22222222rem;
}

.lead p {
	margin-bottom: 1.1em;
}


a, a:visited {
	color: #292e36;
	text-decoration: none;
}

a:hover {
	color: #f00;
}


nav {
	font-size: 0.8em;
}

.align-d > span {
	display: inline-block;
  margin-left: -0.06em;
}


/* Nav */

nav {
	position: absolute;
	width: 100%;
  box-sizing: border-box;
  padding: 0 1.388888%;
  top: 0;
}

#top-nav {
	position: relative;
	height: 50px;
	z-index: 1500;
}

#top-nav ul {
	display: inline-block;
}

#top-nav li {
	position: relative;
	float: left;
  margin: 30px .5% 0 0;
  width: 16.66666%;
}

nav svg {
	position: absolute;
	top: -25%;
  left: 5%;
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
	transition: .3s opacity 1s ease-out;
}

.link-close #top-nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 0 20px 0 0;
	height: 30px;
	animation: .6s reverse textShift;  
}

#top-nav a:hover {
	color: #f00;
}

/* Project menu */

body.menu-open {
	overflow: hidden;
}

.menu-open #top-nav a {
	color: #fff;
	animation: 0.3s textOut;
} 

.menu-open #top-nav a:hover {
	color: #f00;
} 

.menu-close #top-nav a {
	color: #292e36;
	animation: 0.6s textIn;
}

#menu-contain {
	height: 0;
	overflow: hidden;
	background-color: #292e36;
	width: 100%;
	position: fixed;
	top: 0;
	opacity: 0;
	left: 0;
	color: #fff;
	z-index: 1000;
	font-weight: 600;
}

#menu-contain > div {
	/*position: absolute;*/
	height: 100%;
}

#project-wrap ul {
	margin-top: 6.43rem;
	font-size: 3.815rem;
	visibility: hidden;
}

#contact-wrap a {
	font-size: 3.815rem;
	opacity: 0;
  display: inline-block;
  line-height: 4rem;
  margin-top: -2rem;
  top: 50%;
  position: absolute;
  visibility: hidden;
}

#project-wrap.proj-wrap-open ul, #contact-wrap.con-wrap-open a {
	transform: translateY(0);
	opacity: 1;
	animation: 0.8s slideDown ease-out;
	visibility: visible;
}

#project-wrap.proj-wrap-close ul, #contact-wrap.con-wrap-close a {
	transform: translateY(-.5em);
	opacity: 0;
	visibility: hidden;
	animation: 0.4s slideUp ease-in;
}

#menu-contain li {
	margin-left: -0.06em;
}

#menu-contain a {
	color: #fff;
}

.link-open a {
	opacity: 0;
}

.link-open svg {
  width: 100%;
  height: 160%;
  z-index: 2000;
  position: absolute;
  fill: #fff;
  top: -25%;
  left: 5%;
  display: block;
	opacity: 1;
	transition: .3s opacity;
}

.link-open svg:hover {
	fill: #f00;
	cursor: pointer;
}

/* Animation */

.menu-open #menu-contain {
	height: 100%;
	opacity: 1;
	animation: .3s ease-out open;
}

.menu-close #menu-contain {
	animation: .8s ease-out close;
	height: 0;
	opacity: 0;
	
}

@keyframes open {
	from {
		height: 0;
	}
	1% {
		height: 100%;
		opacity: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

@keyframes close {
	0% {
		opacity: 1;
		height: 100%;
	}
	50% {
		opacity: 1;
		height: 100%;
	}
	99% {
		opacity: 0;
		height: 100%;
	}
	100% {
		height: 0;
	}
}

@keyframes slideDown {
	0%{
		transform: translateY(-.5em);
		opacity: 0;
		visibility: hidden;
	}
	50%{
		transform: translateY(-.5em);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes slideUp {
	from{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	to {
		transform: translateY(-.5em);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes textOut {
	from{
		color: #292e36;
	}
	to {
		color: #fff;
	}
}

@keyframes textIn {
	0% {
		color: #fff;
	}
	50% {
		color: #fff;
	}
	100% {
		color: #292e36;
	}
}


/* Footer */

footer {
	width: 100%;
	background-color: #f4f4f5;
	position: absolute;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	line-height: 2.2222222rem;

}

footer ul {
	float: left;
	margin-top: 0.6rem;
}

.main-foot {
	font-size: 1.563rem;
	margin-top: 0;
	font-weight: bold;
	line-height: 2.962962rem;;
}

.main-foot li {
	display: block;
}

footer a {
	position: relative;
	transition: color 0.3s;
	z-index: 2000;
}

.main-foot a:hover  {
	color: #fff;
}

.hov-bg {
	opacity: 0;
  position: absolute;
	width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  z-index: 0;
 }

.hov-on .hov-bg {
	opacity: 0.9;
}


.apollo-hov {
	 background-color: #323232;
}

.drive-hov {
	 background-color: #4e4d8b;
}

.david-hov {
	 background-color: #000;
}

.cod-hov {
	 background-color: #00b3e6;
}


/* Articles */

article {
	margin-top: 5.5555em;
	margin-bottom: 6em;
}

.case-header{
	margin-bottom: 3.8rem;
}

.out {
	display: inline-block;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	line-height: 2.28571;
	border: solid 6px;
	padding: 0 45px;
}

.out svg { 
	fill: currentColor;
	height: 1em;
	width: 1em;
	margin-left: .2em;
}

.out:hover {
	border: solid 6px #f00;
	color: #f00;
}

article ul {
	width: 100%;
	box-sizing: border-box;
	padding: 0 1.388888%;
	margin-bottom: 4.44444444444em;
}

article li {
	width: 100%;
	height: 90vh;
	background-color: #04bcbc;
	position: relative;
}

article img {
	max-width: 75vw;
	max-height: 80vh;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.2);
}

.case-text {
	margin-bottom: 4.44444444444em;
}


/* Grid */

#grid {
	 display: none; 
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.388888%;
  box-sizing: border-box;
  z-index: 5000;
}

#grid > span {
	height: 100%;
	border: 1px solid #000;
	opacity: 0.1;
	float: left;
	background-color: #f00;
}

#grid > span > span {
	opacity: 0.8;
	float: left;
	height: 100%;
	width: 100%;
	background-color: #000;
}

#vert-grid {
	position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  width: 100%;
}

#vert-grid hr {
	width: 100%;
	margin: 49px 0 0 0;
	border: none;
	border-top: solid 1px #f00;
}

#sub-grid {
	position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  width: 100%;
}

#sub-grid hr {
	width: 100%;
	margin: 9px 0 0 0;
	border: none;
	border-top: solid 1px #f00;
}