@font-face {
    font-family: 'KievitOTBlack';
    src: url('kievitot-black.eot');
    src: url('kievitot-black.eot') format('embedded-opentype'),
         url('kievitot-black.woff') format('woff'),
         url('kievitot-black.ttf') format('truetype'),
         url('kievitot-black.svg#KievitOTBlack') format('svg');
}
